NEXT_PUBLIC_SUPABASE_URL=REDACTED
NEXT_PUBLIC_SUPABASE_ANON_KEY=REDACTED
SUPABASE_SERVICE_ROLE_KEY=REDACTED
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=REDACTED
NEXT_PUBLIC_CERTIFICATE_CONTRACT_ADDRESS=0x8Ad76629E76f6f6c3ffB55cB1219e6FB92866D36
SUPABASE_PUBLISHABLE_KEY=REDACTED
SUPABASE_SECRET_KEY=REDACTED
THIRDWEB_SECRET_KEY=REDACTED
SUPABASE_JWT_SECRET=REDACTED
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
PINATA_JWT=REDACTED
DEPLOYER_PRIVATE_KEY=REDACTED
